.services {
    @extend %list;
    display: flex;
  
    .item {
    width: 370px;
    margin-right: 30px;
  }
    .item:last-child {
    margin-right: 0;
  }
    .services-title {
    position: absolute;
    display: flex;
    bottom: 0;
    margin: 0;
    width: 370px;
    height: 70px;
    justify-content: center;
    align-items: center;
  
    color: $background-text-color;
    background-color: rgba(47, 48, 58, 0.8);
    
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase
  }
  .services-position {
    position: relative;
  }
}
  