$background-text-color: #FFFFFF;
$background-accent: #F5F4FA;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$address-text-color: rgba(255, 255, 255, 0.6);
$background-footer-color: #2F303A;
$border-color: #eeeeee;
$icon-color: #AFB1B8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);